<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info"> <!-- Change 'debug' to 'info' -->
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.apache.spark" level="ERROR" /> <!-- Set Spark-specific log level -->
</configuration>
